<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.geosdi.geoplatform.experimental.el.spring" level="debug"/>
    <logger name="org.geosdi.geoplatform.experimental.el.threadpool.spi.BaseThreadPoolSPIExecutor" level="trace"/>
    <logger name="org.geosdi.geoplatform.experimental.el.threadpool.spi.spring.SpringThreadPoolSPIExecutor"
            level="trace"/>

    <logger name="org.geosdi.geoplatform.experimental.el.crypt.GPElasticSearchPooledPBEStringEncryptorTest"
            level="debug"/>

</configuration>
