# ignore target artifact folders
target/

# ignore IDE artifacts
.settings
.classpath
.project
*.idea
.class

# ignore demo artifact folders
*.iml
gwt-unitCache/
*_demo/
/geoplatform-gui/demos/*-demo/war/WEB-INF/*/
/geoplatform-rest-documentation/geoplatform-rest-core-documentation/src/main/webapp/lang/
/geoplatform-rest-documentation/geoplatform-rest-core-documentation/src/main/webapp/fonts/
/geoplatform-rest-documentation/geoplatform-rest-core-documentation/src/main/webapp/swagger-ui.js
/geoplatform-rest-documentation/geoplatform-rest-core-documentation/src/main/webapp/swagger-ui.min.js
/geoplatform-rest-documentation/geoplatform-rest-core-documentation/src/main/webapp/images/
/geoplatform-rest-documentation/geoplatform-rest-core-documentation/src/main/webapp/css/
/geoplatform-rest-documentation/geoplatform-rest-core-documentation/src/main/webapp/o2c.html
/geoplatform-rest-documentation/geoplatform-rest-core-documentation/src/main/webapp/lib/
/geoplatform-experimental/geoplatform-elastic-search-connector/geoplatform-elastic-search-connector.iml
/geoplatform-dependencies/geoplatform-cxf-dependency/geoplatform-cxf-dependency.iml
/geoplatform-dependencies/geoplatform-dropwizard-dependency/geoplatform-dropwizard-dependency.iml
/geoplatform-dependencies/geoplatform-httpclient-dependency/geoplatform-httpclient-dependency.iml