<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.2.xsd"
       default-autowire="byName">
    
    <context:annotation-config />
    
    <bean id="trackingService" class="org.geosdi.geoplatform.services.GPTrackingServiceImpl">
        <constructor-arg type="java.lang.String" value="configurator{host_xmpp_server}"/>
        <constructor-arg type="java.lang.String" value="configurator{port_xmpp_server}"/>
        <constructor-arg type="java.lang.String" value="configurator{username_xmpp_server}"/>
        <constructor-arg type="java.lang.String" value="configurator{password_xmpp_server}"/>
    </bean>

</beans>