<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://cxf.apache.org/core
            http://cxf.apache.org/schemas/core.xsd
            http://cxf.apache.org/jaxws
            http://cxf.apache.org/schemas/jaxws.xsd"
       default-autowire="byName">

    <context:annotation-config />

    <!--===================================================================== -->
    <!-- Services -->
    <!--===================================================================== -->

    <bean id="publisherService" class="org.geosdi.geoplatform.services.GPPublisherServiceImpl">
        <!-- the server to connect -->
        <constructor-arg type="java.lang.String" value="configurator{geoserver_url}"/>
        <!-- the login and the password of the REST geoserver instance -->
        <constructor-arg type="java.lang.String" value="configurator{geoserver_username}"/>
        <constructor-arg type="java.lang.String" value="configurator{geoserver_password}"/>
        <!-- the workspace where publishing the shapefiles to preview -->
        <constructor-arg type="java.lang.String" value="configurator{geoportal_dir_path}"/>
    </bean>
    
    <bean id="restPublisher" class="it.geosolutions.geoserver.rest.GeoServerRESTPublisher">
        <constructor-arg type="java.lang.String" value="configurator{geoserver_url}"/>
        <!-- the login and the password of the REST geoserver instance -->
        <constructor-arg type="java.lang.String" value="configurator{geoserver_username}"/>
        <constructor-arg type="java.lang.String" value="configurator{geoserver_password}"/>
    </bean>

    <bean id="restReader" class="it.geosolutions.geoserver.rest.GeoServerRESTReader">
        <constructor-arg type="java.lang.String" value="configurator{geoserver_url}"/>
        <!-- the login and the password of the REST geoserver instance -->
        <constructor-arg type="java.lang.String" value="configurator{geoserver_username}"/>
        <constructor-arg type="java.lang.String" value="configurator{geoserver_password}"/>
    </bean>

    <!--===================================================================== -->

</beans>