<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
                
    <!-- ENCRYPTOR SECTION -->
    <bean id="gpPooledPBEStringEncryptor"
          class="org.geosdi.geoplatform.configurator.crypt.GPPooledPBEStringEncryptorDecorator">
        <property name="pbeConfig" ref="gpPBEConfig" />    
    </bean>
    
    <bean id="gpPBEConfig" class="org.jasypt.encryption.pbe.config.SimpleStringPBEConfig">
        <property name="poolSize" value="2" /> <!--  This would be a good value for a 2-core system -->
        <property name="password" value="$-geosdi,0x" />
        <property name="algorithm" value="PBEWithMD5AndDES" />
    </bean>

    <!--                                                                      -->
    <!-- The EncryptablePropertyPlaceholderConfigurer will read the           -->
    <!-- .properties files and make their values accessible as ${var}         -->
    <!--                                                                      -->
    <!-- Our "configurationEncryptor" bean (which implements                  --> 
    <!-- org.jasypt.encryption.StringEncryptor) is set as a constructor arg.  -->
    <!--                                                                      -->
    <bean id="propertyConfigurer"
          class="org.jasypt.spring31.properties.EncryptablePropertySourcesPlaceholderConfigurer">
        <constructor-arg ref="pooledPBEStringEncryptor" />
        <property name="placeholderPrefix" value="configurator{" />
        <property name="placeholderSuffix" value="}" />
        <property name="nullValue" value="@null" />
        <property name="locations">
            <list>
                <value>classpath:gp-ws.properties</value>
                <value>file:${GP_DATA_DIR}/gp-ws.properties</value>
                <value>classpath:gp-db.properties</value>
                <value>file:${GP_DATA_DIR}/gp-db.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

</beans>