<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

    <context:annotation-config />

    <bean name="zoomNext"
		class="org.geosdi.geoplatform.gui.configuration.ActionClientTool">
        <property name="id" value="${zoomNext.id}" />
        <property name="type" value="${zoomNext.type}" />
        <property name="enabled" value="${zoomNext.enabled}" />
        <property name="order" value="${zoomNext.order}" />
    </bean>

    <bean name="zoomPrevious"
		class="org.geosdi.geoplatform.gui.configuration.ActionClientTool">
        <property name="id" value="${zoomPrevious.id}" />
        <property name="type" value="${zoomPrevious.type}" />
        <property name="enabled" value="${zoomPrevious.enabled}" />
        <property name="order" value="${zoomPrevious.order}" />
    </bean>

    <bean name="zoomIn"
		class="org.geosdi.geoplatform.gui.configuration.ActionClientTool">
        <property name="id" value="${zoomIn.id}" />
        <property name="type" value="${zoomIn.type}" />
        <property name="enabled" value="${zoomIn.enabled}" />
        <property name="order" value="${zoomIn.order}" />
    </bean>

    <bean name="zoomOut"
		class="org.geosdi.geoplatform.gui.configuration.ActionClientTool">
        <property name="id" value="${zoomOut.id}" />
        <property name="type" value="${zoomOut.type}" />
        <property name="enabled" value="${zoomOut.enabled}" />
        <property name="order" value="${zoomOut.order}" />
    </bean>
	
    <bean name="GetFeatureInfo"
		class="org.geosdi.geoplatform.gui.configuration.ActionClientTool">
        <property name="id" value="${getInfo.id}" />
        <property name="type" value="${getInfo.type}" />
        <property name="enabled" value="${getInfo.enabled}" />
        <property name="order" value="${getInfo.order}" />
    </bean>
	
    <bean name="Measure"
		class="org.geosdi.geoplatform.gui.configuration.ActionClientTool">
        <property name="id" value="${measure.id}" />
        <property name="type" value="${measure.type}" />
        <property name="enabled" value="${measure.enabled}" />
        <property name="order" value="${measure.order}" />
    </bean>
	
    <bean name="MeasureArea"
		class="org.geosdi.geoplatform.gui.configuration.ActionClientTool">
        <property name="id" value="${measureArea.id}" />
        <property name="type" value="${measureArea.type}" />
        <property name="enabled" value="${measureArea.enabled}" />
        <property name="order" value="${measureArea.order}" />
    </bean>
</beans>