<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://cxf.apache.org/jaxws
            http://cxf.apache.org/schemas/jaxws.xsd"
       default-autowire="byName">

    <context:annotation-config />
    
    <jaxws:endpoint id="wmsServiceSOAP"
                    implementorClass="org.geosdi.geoplatform.services.GPWMSServiceImpl"
                    implementor="#wmsService"
                    address="/wms">
        <jaxws:serviceFactory>
            <bean class="org.apache.cxf.jaxws.support.JaxWsServiceFactoryBean">
                <property name="serviceConfigurations">
                    <list>
                        <bean class="org.apache.cxf.jaxws.support.JaxWsServiceConfiguration"/>
                        <bean class="org.apache.cxf.wsdl.service.factory.DefaultServiceConfiguration"/>
                    </list>
                </property>
            </bean>
        </jaxws:serviceFactory >
        <jaxws:inInterceptors>
            <ref bean="serverLoggingInInterceptorBean"/>
            <ref bean="serverSecurityInInterceptorBean"/>
        </jaxws:inInterceptors>
        <jaxws:outInterceptors>
            <ref bean="serverLoggingOutInterceptorBean"/>
            <ref bean="serverSecurityOutInterceptorBean"/>
        </jaxws:outInterceptors>
    </jaxws:endpoint>

</beans>