<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.geosdi.geoplatform.connector.wfs.jaxb.comparison.WFSContextComparisonTest"
            level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.wfs.jaxb.unmarshall" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.server.request.v110.query.repository.QueryRestrictionRepository"
            level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.server.request.v110.query.responsibility.ILogicOperatorHandler"
            level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.server.request.v110.query.responsibility" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.wfs.services.QueryRestrictionFactoryMassiveTest" level="info"/>
</configuration>