/** Add css rules here for your application. */

.catalog-Label {
    color: #4169E1;
    font: normal 14px tahoma, arial, helvetica, sans-serif;
}

.records-Container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchResult-Widget{
    padding: 10px;
}

.searchResult-Label{
    color: #4169E1;
    font: normal 14px tahoma, arial, helvetica, sans-serif;
    padding-top: 5px;
}

.catalogSearch-Label{
    color: #4169E1;
    font: normal 14px tahoma, arial, helvetica, sans-serif;
}

.catalogOptions-Label{
    color: #4169E1;
    font: normal 14px tahoma, arial, helvetica, sans-serif;
}

.catalogBBOX-Label{
    background-color: white;
    font: normal 10px tahoma, arial, helvetica, sans-serif;
}

/** TODO Generalize wrt project name */
.x-loading-status {
    background-image: url(catalog_finder_demo/gp-images/loading.gif);
}

.x-status-ok {
    background-image: url(catalog_finder_demo/gp-images/ok.png);
}

.x-status-not-ok {
    background-image: url(catalog_finder_demo/gp-images/not_found.png);
}

.x-status-error {
    background-image: url(catalog_finder_demo/gp-images/error.png);
}