<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.1.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.1.xsd"
       default-autowire="byName">
    
    <context:component-scan base-package="org.geosdi.geoplatform.scheduler.delegate.impl" />
    
    <!-- Define the properties file to use -->
    <util:properties id="emailProperties" location="classpath:email.properties" />    
    
    <bean id="emailTask" class="org.geosdi.geoplatform.scheduler.quartz.task.EmailTask">
        <property name="mailSender" ref="mailSender" />
        <property name="velocityEngine" ref="velocityEngine" />
        <!-- Frontend -->
        <property name="frontendLink" value="#{emailProperties['email.frontend.link']}" />
        <property name="frontendLabel" value="#{emailProperties['email.frontend.label']}" />
        <!-- Template registration -->
        <property name="subjectRegistration" value="#{emailProperties['email.subject.registration']}" />
        <property name="templateRegistration" value="#{emailProperties['email.template.registration']}" />
        <!-- Template user creation notification -->
        <property name="subjectCreationNotification" value="#{emailProperties['email.subject.creationNotification']}" />
        <property name="templateCreationNotification" value="#{emailProperties['email.template.creationNotification']}" />
        <!-- Template modification -->
        <property name="subjectModification" value="#{emailProperties['email.subject.modification']}" />
        <property name="templateModification" value="#{emailProperties['email.template.modification']}" />        
    </bean>   
    
    <bean id="mailSender"
          class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="defaultEncoding" value="UTF-8" />
        
        <!-- GMail via TLS -->
        <!--property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property-->
        
        <!-- GMail via SSL -->
        <property name="host" value="smtp.googlemail.com" />
        <property name="port" value="465" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
            </props>
        </property>
        
        <property name="username" value="#{emailProperties['email.username']}" />
        <property name="password" value="#{emailProperties['email.password']}" />
    </bean>
   
    <bean id="velocityEngine"
          class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="overrideLogging" value="false" />
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class</prop>
                <prop key="class.resource.loader.class">
                    org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                </prop>
            </props>
        </property>
    </bean>

</beans>