<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean name="manageUsers"
          class="org.geosdi.geoplatform.gui.configuration.menubar.MenuBarClientTool">
        <property name="id" value="${manageUsers.id}" />
        <property name="enabled" value="${manageUsers.enabled}" />
        <property name="order" value="${manageUsers.order}" />
        <property name="text" value="${manageUsers.text}" />
    </bean>

    <bean name="manageRoles"
          class="org.geosdi.geoplatform.gui.configuration.menubar.MenuBarClientTool">
        <property name="id" value="${manageRoles.id}" />
        <property name="enabled" value="${manageRoles.enabled}" />
        <property name="order" value="${manageRoles.order}" />
        <property name="text" value="${manageRoles.text}" />
    </bean>

</beans>