<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"        
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean name="userOptionsButton"
          class="org.geosdi.geoplatform.gui.configuration.menubar.MenuBarClientTool">
        <property name="id" value="${userOptionsButton.id}" />
        <property name="enabled" value="${userOptionsButton.enabled}" />
        <property name="order" value="${userOptionsButton.order}" />
        <property name="textKey" value="userOptionsButtonText" />
    </bean>

</beans>