<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-autowire="byName">

     <!-- Scan for @Autowired annotations -->
    <context:annotation-config/>
    
    <bean id="gpProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
            <list>  
                <value>classpath:gp-ws.properties</value>
                <value>file:${GP_DATA_DIR}/gp-ws.properties</value>
            </list>  
        </property>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>
    
    <bean id="gpClientWebServiceInterceptorStrategyFactory" class="org.geosdi.geoplatform.configurator.cxf.client.GPClientWebServiceInterceptorStrategyFactory">
        <property name="loggingStrategy" value="${webservice_client_logging}" />
        <property name="securityStrategy" value="${webservice_security_strategy}" />
        <property name="usernameTokenUser" value="${webservice_username_token_user}" />
        <property name="clientPrivateKeyPropertiesFile" value="${webservice_client_privatekey_properties_file}" />
        <property name="clientKeystoreUser" value="${webservice_client_keystore_user}" />
        <property name="serverPublicKeyPropertiesFile" value="${webservice_server_publickey_properties_file}" />
        <property name="serverKeystoreUser" value="${webservice_server_keystore_user}" />
    </bean>
    
    <bean id="gpServerWebServiceInterceptorStrategyFactory" class="org.geosdi.geoplatform.configurator.cxf.server.GPServerWebServiceInterceptorStrategyFactory">
        <property name="securityStrategy" value="${webservice_security_strategy}" />
        <property name="usernameTokenUser" value="${webservice_username_token_user}" />
        <property name="serverPrivateKeyPropertiesFile" value="${webservice_server_privatekey_properties_file}" />
        <property name="serverKeystoreUser" value="${webservice_server_keystore_user}" />
        <property name="clientPublicKeyPropertiesFile" value="${webservice_client_publickey_properties_file}" />
        <property name="clientKeystoreUser" value="${webservice_client_keystore_user}" />
    </bean>
    
    <!--                                                                      -->
    <!-- Configuration for encryptor.                                         -->
    <!--                                                                      -->
    <bean id="PBEConfiguration"
          class="org.jasypt.encryption.pbe.config.SimplePBEConfig">
        <property name="algorithm" value="PBEWithMD5AndDES" />
        <property name="password" value="qwerty" />
    </bean>
  
  
    <!--                                                                      -->
    <!-- The will be the encryptor used for decrypting configuration values.  -->
    <!--                                                                      -->
    <bean id="configurationEncryptor"
     class="org.jasypt.encryption.pbe.PooledPBEStringEncryptor">
        <property name="config" ref="PBEConfiguration" />
        <property name="poolSize" value="2" /> <!-- This would be a good value for a 2-core system -->
    </bean>


    <!--                                                                      -->
    <!-- The EncryptablePropertyPlaceholderConfigurer will read the           -->
    <!-- .properties files and make their values accessible as ${var}         -->
    <!--                                                                      -->
    <!-- Our "configurationEncryptor" bean (which implements                  --> 
    <!-- org.jasypt.encryption.StringEncryptor) is set as a constructor arg.  -->
    <!--                                                                      -->
    <bean id="propertyConfigurer"
     class="org.jasypt.spring.properties.EncryptablePropertyPlaceholderConfigurer">
        <constructor-arg ref="configurationEncryptor" />
        <property name="locations">
            <list>
                <value>classpath:gp-db.properties</value>
                <value>file:${GP_DATA_DIR}/gp-db.properties</value>
            </list>
        </property>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

</beans>
