<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-autowire="byName">

    <bean id="EDIT_FEATURE" class="org.geosdi.geoplatform.gui.configuration.composite.menu.tools.TreeMenuClientTool">
        <property name="id" value="EDIT_FEATURE"/>
        <property name="textKey" value="editFeatureText"/>
        <property name="enabled" value="true"/>
        <property name="secure" value="false"/>
        <property name="order" value="8"/>

    </bean>

    <bean id="SHOW_FEATURES"
          class="org.geosdi.geoplatform.gui.client.config.composite.menu.tools.WFSWidgetTreeMenuClientTool">
        <property name="id" value="SHOW_FEATURES"/>
        <property name="textKey" value="showFeaturesTitleText"/>
        <property name="enabled" value="true"/>
        <property name="secure" value="false"/>
        <property name="order" value="9"/>

    </bean>

</beans>