<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <!-- This file is only needed to create the DDL file -->
    <!-- When adding/removing classes, please also keep aligned the main
         persistence file src/main/resources/META-IN/persistence.xml -->
    <session-factory>
        <property name="hibernate.dialect">org.hibernatespatial.postgis.PostgisDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

    <!-- MAPPING MODEL RESOURCES -->
    	<mapping  class="org.geosdi.geoplatform.core.model.GPUser"/>
    	<mapping  class="org.geosdi.geoplatform.core.model.GPFolder"/>
    	<mapping  class="org.geosdi.geoplatform.core.model.GPLayer"/>
    	<mapping  class="org.geosdi.geoplatform.core.model.GPVectorLayer"/>
    	<mapping  class="org.geosdi.geoplatform.core.model.GPRasterLayer"/>
    	<mapping  class="org.geosdi.geoplatform.core.model.GPStyle"/>
    	<mapping  class="org.geosdi.geoplatform.core.model.GeoPlatformServer"/>
    	
    </session-factory>
</hibernate-configuration>
