<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />

	<bean name="serviceParameter"
		class="org.geosdi.geoplatform.gui.server.service.RoutingServiceParameters">
		<property name="serviceDataSource" value="http://routing.geosdi.org/php/service.php" />
		<property name="firstRegex" value="?startpoint=" />
		<property name="finalRegex" value="&amp;finalpoint=" />
		<property name="method" value="&amp;method=SPS" />
	</bean>

	<bean name="routing"
		class="org.geosdi.geoplatform.gui.configuration.menubar.CheckMenuClientTool">
		<property name="id" value="routing" />
		<property name="text" value="Routing" />
		<property name="checked" value="false" />
		<property name="enabled" value="true" />
		<property name="order" value="20" />
	</bean>

</beans>