<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/oxm
           http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/util 
           http://www.springframework.org/schema/util/spring-util-3.1.xsd"
       default-autowire="byName">

    <context:annotation-config />
   
    
    <bean id="xStreamCatalog" class="org.geosdi.geoplatform.oxm.GeoPlatformMarshall">
        <property name="marshaller" ref="xStreamCatalogMarshaller" />
        <property name="unmarshaller" ref="xStreamCatalogMarshaller" />
    </bean>
    
    <bean id="xStreamCatalogMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
        <property name="annotatedClass" value="org.geosdi.geoplatform.connector.api.capabilities.model.csw.CatalogCapabilities" />
        <property name="omittedFields">
            <util:map>
                <entry key="org.geosdi.geoplatform.connector.api.capabilities.model.csw.CatalogServiceIdentification" 
                       value="ows:Fees,ows:AccessConstraints"/>
                    
                <entry key="org.geosdi.geoplatform.connector.api.capabilities.model.csw.CatalogServiceProvider" 
                       value="ows:ProviderSite,ows:ServiceContact"/>
                    
                <entry key="org.geosdi.geoplatform.connector.api.capabilities.model.csw.CatalogCapabilities" 
                       value="ows:OperationsMetadata,ogc:Filter_Capabilities"/>
            </util:map>
        </property>
    </bean>
    
    <bean id="catalogCapabilitiesBean" class="org.geosdi.geoplatform.cswconnector.CatalogGetCapabilitiesBean" />
    
    <bean id="catalogJAXBContextConfigurator" class="org.geosdi.geoplatform.cswconnector.CatalogJAXBContextConfigurator" />

</beans>