<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.geosdi.geoplatform.gml" level="info"/>
    <logger name="org.geosdi.geoplatform.gml.impl.v311.gml.comparison" level="info"/>
    <logger name="org.geosdi.geoplatform.gml.impl.v311.gml.theories.GMLTheoriesSextanteParserTest" level="debug"/>
    <logger name="org.geosdi.geoplatform.gml.impl.v311.jts.parameter.bridge.store.JTSParameterValueStore"
            level="debug"/>
    <logger name="org.geosdi.geoplatform.gml.api.parser.base.parameter.bridge.store.BaseParameterValueStore"
            level="debug"/>
    <logger name="org.geosdi.geoplatform.gml.api.parser.base.geometry.polygon" level="debug"/>
    <logger name="org.geosdi.geoplatform.gml.api.parser.base.geometry.line" level="debug"/>
    <logger name="org.geosdi.geoplatform.gml.api.parser.base.geometry.linerarring" level="debug"/>
    <logger name="org.geosdi.geoplatform.gml.impl.v311.geojson.theories.GMLTheoriesGeoJsonSexanteParserTest" level="debug"/>
    <logger name="org.geosdi.geoplatform.gml.api.jaxb.DefaultGMLUnmarshaller" level="debug"/>
    <logger name="org.geosdi.geoplatform.gml.api.parser.base.geometry.multi.geometry.GMLBaseMultiGeometryParser" level="trace"/>

</configuration>
