<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
             
    <!-- pick up all spring application contexts -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:applicationContext.xml</param-value>
    </context-param>
    
    <!-- Activate @Production Spring Profile -->
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>prod</param-value>
    </context-param>
    
    <context-param>
        <param-name>gwt.xsrf.session_cookie_name</param-name>
        <param-value>GEOSDI_COOKIE</param-value>
    </context-param>

    <!-- spring context loader -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>GeoPlatformService</servlet-name>
        <servlet-class>org.geosdi.geoplatform.gui.server.gwt.GeoPlatformServiceImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoPlatformService</servlet-name>
        <url-pattern>/feature_demo/GeoPlatformService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>xsrf</servlet-name>
        <servlet-class>
            com.google.gwt.user.server.rpc.XsrfTokenServiceServlet
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>xsrf</servlet-name>
        <url-pattern>/feature_demo/xsrf</url-pattern>
    </servlet-mapping>
    
    <!-- Open proxy to circumvent cross-domain XMLHTTPRequest restrictions. -->
    <servlet>
        <servlet-name>GwtOpenlayersProxy</servlet-name>
        <servlet-class>org.gwtopenmaps.openlayers.server.GwtOpenLayersProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtOpenlayersProxy</servlet-name>
        <url-pattern>/gwtOpenLayersProxy/*</url-pattern>
    </servlet-mapping>
    
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>FeatureDemoUI.html</welcome-file>
    </welcome-file-list>
    
</web-app>
