<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.geosdi.geoplatform.connector.geoserver.request" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.store.GPGeoserverConnectorStore" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.store.task.GeoserverNamespaceTask" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.store.task.GeoserverStyleTask" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.store.task.GeoserverLayerTask" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.store.task.GeoserverWorkspaceLayersTask" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.geoserver.model.datastores.body.builder.db.postgis.IGPPostgisDatastoreBodyBuilder"
            level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.geoserver.model.datastores.body.builder.db.geopkg.IGPGeopackageDatastoreBodyBuilder"
            level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.geoserver.model.datastores.body.builder.file.shape.IGPShapeFileDatastoreBodyBuilder"
            level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.geoserver.model.datastores.body.builder.db.postgis.jndi.IGPPostgisJndiDatastoreBuilder"
            level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.geoserver.model.datastores.body.builder.wfs.IGPWFSDatastoreBodyBuilder"
            level="trace"/>

</configuration>
