<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-autowire="byName">
    
    <bean id="gpDigesterSHA1" class="org.geosdi.geoplatform.configurator.crypt.GPPooledDigester">
        <property name="config" ref="digesterConfigSHA1" />
    </bean>
    
    <bean id="digesterConfigSHA1" class="org.jasypt.digest.config.SimpleStringDigesterConfig">
        <property name="algorithm" value="SHA-1" />
        <property name="poolSize" value="2" /> <!--  This would be a good value for a 2-core system -->
        <property name="saltSizeBytes" value="0" />
        <property name="iterations" value="1" />
        <property name="stringOutputType" value="hexadecimal" />
    </bean>
    
    <bean id="gpDigesterMD5" class="org.geosdi.geoplatform.configurator.crypt.GPPooledDigester">
        <property name="config" ref="digesterConfigMD5" />
    </bean>
    
    <bean id="digesterConfigMD5" class="org.jasypt.digest.config.SimpleStringDigesterConfig">
        <property name="algorithm" value="MD5" />
        <property name="poolSize" value="2" /> <!--  This would be a good value for a 2-core system -->
        <property name="saltSizeBytes" value="0" />
        <property name="iterations" value="1" />
        <property name="stringOutputType" value="hexadecimal" />
    </bean>
    
</beans>
