<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <bean id="geoPlatformServiceClient"  class="org.geosdi.geoplatform.services.GeoPlatformService"
		factory-bean="geoPlatformProxyFactory" factory-method="create" />

    <bean id="geoPlatformPublishClient" class="org.geosdi.geoplatform.cxf.GeoPlatformPublishClient">
        <property name="address" value="http://localhost:8080/geoplatform-service/publish" />
    </bean>

    <bean id="geoPlatformProxyFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass"
			value="org.geosdi.geoplatform.services.GeoPlatformService" />
        <property name="address"
			value="http://localhost:8080/geoplatform-service/soap" />
        <property name="inInterceptors"
			ref="geoPlatformClientInInterceptorBean" />
        <property name="outInterceptors"
			ref="geoPlatformClientOutInterceptorBean" />
    </bean>

    <bean id="gpClientWebServiceInterceptorStrategyFactory" class="org.geosdi.geoplatform.cxf.GPClientWebServiceInterceptorStrategyFactory">
        <property name="securityStrategy" value="#{gpProperties.webservice_security_strategy}" />
        <property name="usernameTokenUser" value="#{gpProperties.webservice_username_token_user}" />
        <property name="clientPrivateKeyPropertiesFile" value="#{gpProperties.webservice_client_privatekey_properties_file}" />
        <property name="clientKeystoreUser" value="#{gpProperties.webservice_client_keystore_user}" />
        <property name="serverPublicKeyPropertiesFile" value="#{gpProperties.webservice_server_publickey_properties_file}" />
        <property name="serverKeystoreUser" value="#{gpProperties.webservice_server_keystore_user}" />
    </bean>

</beans>
