<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://cxf.apache.org/core             
            http://cxf.apache.org/schemas/core.xsd
            http://cxf.apache.org/jaxws
            http://cxf.apache.org/schemas/jaxws.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!--===================================================================== -->
	<!-- Services -->
	<!--===================================================================== -->

    <bean id="gpServerWebServiceInterceptorStrategyFactory" class="org.geosdi.geoplatform.services.GPServerWebServiceInterceptorStrategyFactory">
        <property name="securityStrategy" value="#{gpProperties.webservice_security_strategy}" />
        <property name="usernameTokenUser" value="#{gpProperties.webservice_username_token_user}" />
        <property name="serverPrivateKeyPropertiesFile" value="#{gpProperties.webservice_server_privatekey_properties_file}" />
        <property name="serverKeystoreUser" value="#{gpProperties.webservice_server_keystore_user}" />
        <property name="clientPublicKeyPropertiesFile" value="#{gpProperties.webservice_client_publickey_properties_file}" />
        <property name="clientKeystoreUser" value="#{gpProperties.webservice_client_keystore_user}" />
    </bean>

    <bean id="geoPlatformService"
          class="org.geosdi.geoplatform.services.GeoPlatformServiceImpl">		
        <property name="accountDao" ref="accountDAO" />
        <property name="accountProjectDao" ref="accountProjectDAO" />
        <property name="projectDao" ref="projectDAO" />
        <property name="serverDao" ref="serverDAO" />
        <property name="folderDao" ref="folderDAO" />
        <property name="layerDao" ref="layerDAO" />
<!--        <property name="styleDao" ref="styleDAO" />-->
        <property name="authorityDao" ref="authorityDAO" />
        <!-- ACL -->
        <property name="classDao" ref="classDAO" />
        <property name="entryDao" ref="entryDAO" />
        <property name="objectIdentityDao" ref="objectIdentityDAO" />
        <property name="sidDao" ref="sidDAO" />
        <property name="guiComponentDao" ref="guiComponentDAO" />
        <!-- - - - -->
        <property name="emailHandler" ref="emailHandler" />
    </bean>    

	<!--===================================================================== -->        

    <!-- Define the properties file to use -->
    <util:properties id="emailProperties" location="classpath:/email.properties" />
    
    <bean id="emailHandler"
          class="org.geosdi.geoplatform.services.email.EmailHandler">
        <property name="mailSender" ref="mailSender" />
        <property name="velocityEngine" ref="velocityEngine" />
        <property name="subject" value="#{emailProperties['email.subject']}" />
        <property name="template" value="#{emailProperties['email.template']}" />
    </bean>   
    
    
    <bean id="mailSender"
        class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="javaMailProperties">
            <props>
                <!--prop key="mail.smtp.auth">true</prop-->
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
        <property name="username" value="#{emailProperties['email.username']}" />
        <property name="password" value="#{emailProperties['email.password']}" />
    </bean>
   
    <bean id="velocityEngine"
        class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class</prop>
                <prop key="class.resource.loader.class">
                org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                </prop>
            </props>
        </property>
    </bean>

</beans>