<html>
<body>
    <h3>Hi <u>${user.name}</u>, welcome to the Geo-Platform</h3>

    <div>
        Your username is: <b>${user.username}</b>
    </div><br/><div>
        Your password is: <b>${user.password}</b>
    </div>
</body>
</html>