<html>
<body>
    <h3>Hi <u>${user.name}</u>, welcome to ${frontendLabel}</h3>

    <div>
        Your username is: <b>${user.username}</b>
    </div><br/><div>
        Your password is: <b>${user.password}</b>
    </div>
    <br/><br/>
    <div>
        Log in to the <a href="${frontendLink}">${frontendLabel}</b>
    </div>
</body>
</html>