<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">
    
    <bean name="googleToolbarIcon"
		class="org.geosdi.geoplatform.gui.configuration.IconInToolbar">
        <property name="text" value="Not signed on Google Earth Builder" />
        <property name="order" value="200" />
        <property name="id" value="GOOGLE_ICON" />
    </bean>
    
    <bean name="googleSignOnButton"
                            class="org.geosdi.geoplatform.gui.configuration.menubar.OAuth2MenuBarClientTool">
        <property name="id" value="googleSignOnButton" />
        <property name="text" value="Google Earth Builder" />
        <property name="enabled" value="true" />
        <property name="order" value="11" />
        <property name="googleAuthUrl" value="https://accounts.google.com/o/oauth2/auth" />
        <property name="googleClientId" value="715134893945.apps.googleusercontent.com" />
        <property name="scope" value="https://www.googleapis.com/auth/earthbuilder.readonly" />
    </bean>
    
</beans>