.barContent{
    height: 10px!important;
    position: absolute;
    margin: 0px auto;
    width: 40%;
    right: 30%;
    
}

.outer {
    position: relative;
    border: 1px solid #9494AD;
    height: 10px;
    margin-top: 50%;
}

.loadBarHolder {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;  
}

.loadBar {
    z-index: 0;
    position: relative;
    height: 100%;
}

.loadBarFiller {
    background: #F7F7F7;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
}

.runBar {
    position: relative;
    height: 100%;
    z-index: 1;
    background: #606060;
}

.runBarFiller {
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    position: absolute;
    background: url('http://www.geosdi.org/images/gp-image/7uo1osj.gif') repeat-x;

}

.label {
    z-index: 2;
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 20%;
    margin-top: 1.5em;
    font-size: 16px;
    font-weight: bold;
}

.hide{
    display: none;
}
