<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.geosdi.geoplatform.connector.wms.WMSV111UnmarshallTest" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.wms.WMSV130UnmarshallTest" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.wms.unmarshall.theories.WMSGetCapabilitiesV111UnmarshallTheoriesTest"
            level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.jaxb.repository.ConnectorJAXBContextRepository" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.pool.factory.v111.GPWMSConnectorFactoryV111" level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.server.v111" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.server.v130" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.bridge.store.GPWMSGetFeatureInfoReaderStore" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.bridge.finder.GPWMSGetFeatureInfoReaderFinder" level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.reader.stax.GPWMSGetFeatureInfoStaxReader" level="info"/>
    <logger name="org.geosdi.geoplatform.connector.parser.WMSGml2GeoJsonParser" level="info"/>

</configuration>