<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName">

    <context:annotation-config/>


    <bean id="gpWSClient" class="org.geosdi.geoplatform.cxf.GeoPlatformWSClient">
        <property name="address" value="http://localhost:8080/geoplatform-service/soap" />
    </bean>

	<!-- =============================================================== -->
	<!-- Configure the Jetty Server with Spring -->
	<!-- This file is the equivalent of jetty.xml, but written in spring -->
	<!-- =============================================================== -->

    <bean id="gpJettyServer" class="org.mortbay.jetty.Server"
		destroy-method="stop">

        <property name="threadPool">
            <bean id="ThreadPool" class="org.mortbay.thread.BoundedThreadPool">
                <property name="minThreads" value="10" />
                <property name="lowThreads" value="50" />
                <property name="maxThreads" value="250" />
            </bean>
        </property>

        <property name="connectors">
            <list>
                <bean id="Connector" class="org.mortbay.jetty.nio.SelectChannelConnector">
                    <property name="port" value="8080" />
                    <property name="maxIdleTime" value="30000" />
                    <property name="acceptors" value="2" />
                    <property name="confidentialPort" value="8443" />
                </bean>
            </list>
        </property>

        <property name="handler">
            <bean id="handlers" class="org.mortbay.jetty.handler.HandlerCollection">
                <property name="handlers">
                    <list>
                        <bean id="contexts" class="org.mortbay.jetty.handler.ContextHandlerCollection">
                            <property name="handlers">
                                <list>
                                    <bean class="org.mortbay.jetty.webapp.WebAppContext">
                                        <property name="contextPath" value="/geoplatform-service" />
                                        <property name="war"
											value="deploy/geoplatform-service.war" />
                                    </bean>
                                </list>
                            </property>
                        </bean>
                        <bean id="defaultHandler" class="org.mortbay.jetty.handler.DefaultHandler" />
                        <bean id="requestLog" class="org.mortbay.jetty.handler.RequestLogHandler" />
                    </list>
                </property>
            </bean>
        </property>

    </bean>

</beans>
