<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="org.apache.cxf" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="STDOUT" />
    </root>
    
    <!-- Tests -->
    <logger name="org.geosdi.geoplatform.model.ServiceTest" level="debug"/>
    <logger name="org.geosdi.geoplatform.model.rest.RSFolderTest" level="trace"/>
    <logger name="org.geosdi.geoplatform.model.rest.RSServerTest" level="debug"/>
    <logger name="org.geosdi.geoplatform.model.rest.RSViewportTest" level="trace"/>
    <logger name="org.geosdi.geoplatform.model.rest.RSRoleTest" level="trace"/>
    <logger name="org.geosdi.geoplatform.publisher.PublisherBaseTest" level="debug"/>
    <logger name="org.geosdi.geoplatform.catalog.csw.CSWCatalogRecordTest" level="trace"/>

    <!-- Services -->
    <logger name="org.geosdi.geoplatform.services.AclServiceImpl" level="info"/>
    <logger name="org.geosdi.geoplatform.services.FolderServiceImpl" level="info"/>    
    <logger name="org.geosdi.geoplatform.services.LayerServiceImpl" level="info"/>
    <logger name="org.geosdi.geoplatform.services.ProjectServiceImpl" level="info"/>
    <logger name="org.geosdi.geoplatform.services.AccountServiceImpl" level="info"/>
    <logger name="org.geosdi.geoplatform.services.WMSServiceImpl" level="info"/>
    <logger name="org.geosdi.geoplatform.services.delegate.CSWDelegate" level="trace"/>
    <logger name="org.geosdi.geoplatform.services.GPWFSServiceImpl" level="trace"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.services.FeatureReader" level="debug"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.services.feature.GPTransactionService" level="debug"/><!-- TODO info -->

    <logger name="org.geosdi.geoplatform.core.delegate.impl.project.GPProjectDelegate" level="info"/>
    <logger name="org.geosdi.geoplatform.core.delegate.impl.acl.GPAclDelegate" level="trace"/>

    <logger name="org.geosdi.geoplatform.connector.server.request.v202.CatalogGetRecordsV202" level="info"/>
    <logger name="org.geosdi.geoplatform.connector.server.request.v202.responsibility.TextSearchRequest" level="info"/>
    <logger name="org.geosdi.geoplatform.connector.server.request.v202.responsibility.AreaSearchRequest" level="info"/>
    <logger name="org.geosdi.geoplatform.connector.server.request.v202.responsibility.TimeSearchRequest" level="info"/>
    
    <logger name="org.geosdi.geoplatform.feature.reader.WFSGetFeatureStaxReader" level="info"/>
    
    <logger name="org.geosdi.geoplatform.responce.factory.AccountDTOFactory" level="debug"/>
    
    <logger name="org.geosdi.geoplatform.support.cxf.rs.provider.factory.GPRestProviderFactory" level="debug"/>
    
    <!-- DAOs -->
    <logger name="org.geosdi.geoplatform.core.dao.impl.GPFolderDAOImpl" level="debug"/>
    <logger name="org.geosdi.geoplatform.core.dao.impl.GPLayerDAOImpl" level="info"/>
    <logger name="org.geosdi.geoplatform.core.dao.impl.GPServerDAOImpl" level="info"/>
    <logger name="org.geosdi.geoplatform.services.GPWMSServiceImpl" level="debug"/>

</configuration>
