<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/jms
           http://www.springframework.org/schema/jms/spring-jms-3.2.xsd"
       default-autowire="byName">
    
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory"
          p:brokerURL="tcp://localhost:61616" />
  
    <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="CAS_QUEUE" />
    </bean>
    
    <bean id="jmsCASProducerTemplate" class="org.springframework.jms.core.JmsTemplate"
          p:connectionFactory-ref="connectionFactory"
          p:defaultDestination-ref="destination" />
  
    <bean id="casMessageProducer" class="org.geosdi.geoplatform.cas.jms.producer.CASMessageProducer"
          p:jmsTemplate-ref="jmsCASProducerTemplate" />
        
    
</beans>