<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-3.2.xsd"
       default-autowire="byName">
            
    <context:annotation-config />
            
    <import resource="classpath:applicationContext-jasypt.xml" />
    <import resource="classpath:applicationContext-crypt.xml" />
    
    <!--                                                                      -->
    <!-- The EncryptablePropertyPlaceholderConfigurer will read the           -->
    <!-- .properties files and make their values accessible as ${var}         -->
    <!--                                                                      -->
    <!-- Our "configurationEncryptor" bean (which implements                  --> 
    <!-- org.jasypt.encryption.StringEncryptor) is set as a constructor arg.  -->
    <!--                                                                      -->
    <bean id="gpPropertiesDAO"
          class="org.jasypt.spring31.properties.EncryptablePropertySourcesPlaceholderConfigurer">
        <constructor-arg ref="pooledPBEStringEncryptor" />
        <property name="nullValue" value="@null" />
        <property name="placeholderPrefix" value="coreTest{" />
        <property name="placeholderSuffix" value="}" />
        <property name="locations">
            <list>
                <value>classpath:gp-db.properties</value>
                <value>file:${GP_DATA_DIR}/gp-db.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

</beans>
