<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />

	<bean name="folderStore"
		class="org.geosdi.geoplatform.gui.impl.GeoPlatformFolderStore">
		<property name="folders">
			<list>
				<ref bean="vectorFolder" />
			</list>
		</property>
	</bean>

	<bean name="vectorFolder"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.GPFolderClientInfo">
		<property name="label" value="Vector Folder" />
		<property name="zIndex" value="1" />
		<property name="folderElements">
			<list>
				<ref bean="it_toponimi_igm_25k" />
                                <ref bean="rasterFolder" />
				<ref bean="osm_line" />
			</list>
		</property>
	</bean>

	<bean name="rasterFolder"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.GPFolderClientInfo">
		<property name="label" value="Vector Folder" />
		<property name="zIndex" value="2" />
		<property name="folderElements">
			<list>
				<ref bean="deAgostini100000" />
				<ref bean="ctp_Trento" />
			</list>
		</property>
	</bean>

	<bean name="deAgostini100000"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientRasterInfo">
		<property name="layerName" value="StratiDiBase:DeAgostini100000" />
		<property name="styles">
			<list>
				<value>raster</value>
			</list>
		</property>
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wms" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="6.351" />
				<property name="lowerLeftY" value="34.886" />
				<property name="upperRightX" value="19.404" />
				<property name="upperRightY" value="47.403" />
			</bean>
		</property>
		<property name="layerType" value="RASTER" />
		<property name="zIndex" value="9" />
	</bean>
	
	<bean name="ctp_Trento"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientRasterInfo">
		<property name="layerName" value="StratiDiBase:ctp Trento" />
		<property name="styles">
			<list>
				<value>raster</value>
			</list>
		</property>
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wms" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="10.406" />
				<property name="lowerLeftY" value="45.64" />
				<property name="upperRightX" value="11.973" />
				<property name="upperRightY" value="46.568" />
			</bean>
		</property>
		<property name="layerType" value="RASTER" />
		<property name="zIndex" value="8" />
	</bean>

	<bean name="it_toponimi_igm_25k"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientVectorInfo">
		<property name="featureType" value="esercitazione:it_toponimi_igm_25k" />
		<property name="featureNameSpace" value="http://terex2010.geosdi.org/esercitazione" />
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wfs" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="9.696" />
				<property name="lowerLeftY" value="43.027" />
				<property name="upperRightX" value="11.243" />
				<property name="upperRightY" value="44.521" />
			</bean>
		</property>
		<property name="layerType" value="POINT" />
		<property name="zIndex" value="10" />
	</bean>

	<bean name="osm_line"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientVectorInfo">
		<property name="featureType" value="esercitazione:osm_line" />
		<property name="featureNameSpace" value="http://terex2010.geosdi.org/esercitazione" />
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wfs" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="9.696" />
				<property name="lowerLeftY" value="43.027" />
				<property name="upperRightX" value="11.243" />
				<property name="upperRightY" value="44.522" />
			</bean>
		</property>
		<property name="layerType" value="MULTILINESTRING" />
		<property name="zIndex" value="11" />
	</bean>

</beans>