<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<bean name="folderStore"
		class="org.geosdi.geoplatform.gui.impl.GeoPlatformFolderStore">
		<property name="folders">
			<list>
				<ref bean="vectorFolder" />
				<ref bean="rasterFolder" />
			</list>
		</property>
	</bean>
	
	<bean name="rasterFolder"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.GPFolderClientInfo">
		<property name="label" value="Raster Folder" />
		<property name="order" value="2" />
		<property name="layers">
			<list>
				<ref bean="deAgostini100000" />
				<ref bean="ctp_Trento" />
			</list>
		</property>
	</bean>

    <bean name="BlueMarble"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientRasterInfo">
		<property name="layerName" value="StratiDiBase:BlueMarble" />
		<property name="styles">
			<list>
				<value>raster</value>
			</list>
		</property>
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wms" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="-180" />
				<property name="lowerLeftY" value="-90" />
				<property name="upperRightX" value="180" />
				<property name="upperRightY" value="90" />
			</bean>
		</property>
		<property name="layerType" value="RASTER" />
		<property name="zIndex" value="12" />
	</bean>
	
	<bean name="LandsatItalia"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientRasterInfo">
		<property name="layerName" value="StratiDiBase:LandsatItalia" />
		<property name="styles">
			<list>
				<value>raster</value>
			</list>
		</property>
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wms" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="6.104" />
				<property name="lowerLeftY" value="35.546" />
				<property name="upperRightX" value="18.846" />
				<property name="upperRightY" value="47.186" />
			</bean>
		</property>
		<property name="layerType" value="RASTER" />
		<property name="zIndex" value="11" />
	</bean>
	
	<bean name="ctr_lazio_o"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientRasterInfo">
		<property name="layerName" value="StratiDiBase:ctr_lazio_o" />
		<property name="styles">
			<list>
				<value>raster</value>
			</list>
		</property>
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wms" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="11.413" />
				<property name="lowerLeftY" value="40.766" />
				<property name="upperRightX" value="14.083" />
				<property name="upperRightY" value="42.851" />
			</bean>
		</property>
		<property name="layerType" value="RASTER" />
		<property name="zIndex" value="10" />
	</bean>

	<bean name="vectorFolder"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.GPFolderClientInfo">
		<property name="label" value="Vector Folder" />
		<property name="order" value="1" />
		<property name="layers">
			<list>
				<ref bean="it_toponimi_igm_25k" />
				<ref bean="osm_line" />
			</list>
		</property>
	</bean>

	<bean name="it_toponimi_igm_25k"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientVectorInfo">
		<property name="featureType" value="esercitazione:it_toponimi_igm_25k" />
		<property name="featureNameSpace" value="http://terex2010.geosdi.org/esercitazione" />
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wfs" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="9.696" />
				<property name="lowerLeftY" value="43.027" />
				<property name="upperRightX" value="11.243" />
				<property name="upperRightY" value="44.521" />
			</bean>
		</property>
		<property name="layerType" value="POINT" />
		<property name="zIndex" value="20" />
	</bean>

	<bean name="osm_line"
		class="org.geosdi.geoplatform.gui.configuration.map.client.layer.ClientVectorInfo">
		<property name="featureType" value="esercitazione:osm_line" />
		<property name="featureNameSpace" value="http://terex2010.geosdi.org/esercitazione" />
		<property name="dataSource" value="http://dpc.geosdi.org/geoserver/wfs" />
		<property name="crs" value="EPSG:4326" />
		<property name="bbox">
			<bean
				class="org.geosdi.geoplatform.gui.configuration.map.client.geometry.BboxClientInfo">
				<property name="lowerLeftX" value="9.696" />
				<property name="lowerLeftY" value="43.027" />
				<property name="upperRightX" value="11.243" />
				<property name="upperRightY" value="44.522" />
			</bean>
		</property>
		<property name="layerType" value="MULTILINESTRING" />
		<property name="zIndex" value="21" />
	</bean>

</beans>