<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="org.apache.cxf" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.quartz" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.geosdi.geoplatform.services.AclServiceImpl" level="info"/>
    <logger name="org.geosdi.geoplatform.services.delegate.CSWServiceDelegate" level="trace"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.services.WMSServiceImpl" level="debug"/><!-- TODO info -->

    <logger name="org.geosdi.geoplatform.jobs.TempAccountExpireJob" level="info"/>
    <logger name="org.geosdi.geoplatform.jobs.EmailTask" level="info"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.jobs.EmailRegistrationJob" level="debug"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.jobs.EmailModificationJob" level="debug"/><!-- TODO info -->

    <logger name="org.geosdi.geoplatform.connector.server.request.v202.CatalogGetRecordsV202"
            level="debug"/><!-- TODO info -->

    <logger name="org.geosdi.geoplatform.connector.server.request.v202.responsibility.TextSearchRequest"
            level="debug"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.connector.server.request.v202.responsibility.AreaSearchRequest"
            level="debug"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.connector.server.request.v202.responsibility.TimeSearchRequest"
            level="debug"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.services.GPTrackingServiceImpl" level="debug"/>

    <logger name="org.geosdi.geoplatform.services.GPTrackingServiceImpl" level="debug"/><!-- TODO info -->
    <logger name="org.geosdi.geoplatform.jdbc.template.spring" level="debug"/>
    <!-- #################################CSV_IMPORTER_SECTION ########################################-->
    <logger name="org.geosdi.geoplatform.csv.importer.job.launcher.CSVLayerImporterJobLauncher"
            level="debug"/>
    <logger name="org.geosdi.geoplatform.csv.importer.job.runner.config.CSVLayerImporterJobRunner"
            level="debug"/>
    <logger name="org.geosdi.geoplatform.csv.importer.step.spatial.decorator.CSVBatchGeocoderDecoratorStrategy"
            level="debug"/>
    <logger name="org.springframework.transaction" level="DEBUG"/>
    <logger name="org.geosdi.geoplatform.services.GPWMSServiceImpl" level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.server.v111" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.server.v130" level="debug"/>
    <logger name="org.geosdi.geoplatform.connector.reader.stax.GPWMSGetFeatureInfoStaxReader" level="trace"/>
    <logger name="org.geosdi.geoplatform.connector.server.request.v110.query.responsibility" level="trace"/>
    <logger name="org.geosdi.geoplatform.support.wfs.services.GPGetFeatureService" level="debug"/>
    <logger name="org.geosdi.geoplatform.services.builder.GeoSDIHttpClient5" level="trace"/>

</configuration>
