<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-autowire="byName">

    <bean id="layoutPropertyConfigurer"
              class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="placeholderPrefix" value="layoutProp{" />
        <property name="placeholderSuffix" value="}" />
        <property name="nullValue" value="@null" />
        <property name="locations">
            <list>
                <value>classpath:gp-layout.properties</value>
                <value>file:#{systemProperties['GP_DATA_DIR']}/gp-layout.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

</beans>