<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />

	<!-- general definitions -->
	<context:property-placeholder
		location="classpath:application.properties" />

	<bean name="geoPlatformInfo" class="org.geosdi.geoplatform.gui.global.GeoPlatformInfo">
		<property name="version">
			<bean name="geoPlatformVersionInfo"
				class="org.geosdi.geoplatform.gui.global.GeoPlatformVersionInfo">
				<property name="name" value="${name}" />
				<property name="version" value="${version}" />
			</bean>
		</property>
		<property name="copyrightInfo">
			<list>
				<bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
					<property name="key" value="${keyGeosdi}" />
					<property name="copyright" value="${copyrightGeosdi}" />
					<property name="licenseName" value="${licenseNameGeosdi}" />
					<property name="licenseUrl" value="${licenseUrlGeosdi}" />
				</bean>
				<bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
					<property name="key" value="${keyGWT}" />
					<property name="copyright" value="" />
					<property name="licenseName" value="${licenseNameGWT}" />
					<property name="licenseUrl" value="${licenseUrlGWT}" />
				</bean>
			</list>
		</property>
	</bean>


</beans>