<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-autowire="byName">

    <context:annotation-config />
    
    <import resource="applicationContext-layout.xml" />

    <bean id="geoPlatformInfo" class="org.geosdi.geoplatform.gui.global.GeoPlatformInfo">
        <property name="version">
            <bean id="geoPlatformVersionInfo"
                  class="org.geosdi.geoplatform.gui.global.GeoPlatformVersionInfo">
                <property name="name" value="${name}" />
                <property name="version" value="${version}" />
            </bean>
        </property>
        <property name="copyrightInfo">
            <list>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyGeosdi}" />
                    <property name="version" value="${version}" />
                    <property name="copyright" value="${copyrightGeosdi}" />
                    <property name="licenseName" value="${licenseNameGeosdi}" />
                    <property name="licenseUrl" value="${licenseUrlGeosdi}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyGWT}" />
                    <property name="version" value="${versionGWT}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameGWT}" />
                    <property name="licenseUrl" value="${licenseUrlGWT}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyGWT-OL}" />
                    <property name="version" value="${versionGWT-OL}" />
                    <property name="copyright" value="${copyrightGWT-OL}" />
                    <property name="licenseName" value="${versionGWT-OL}" />
                    <property name="licenseUrl" value="${licenseUrlGWT-OL}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keySpring}" />
                    <property name="version" value="${versionSpring}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameSpring}" />
                    <property name="licenseUrl" value="${licenseUrlSpring}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyHibernate}" />
                    <property name="version" value="${versionHibernate}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameHibernate}" />
                    <property name="licenseUrl" value="${licenseUrlHibernate}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyGXT}" />
                    <property name="version" value="${versionGXT}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameGXT}" />
                    <property name="licenseUrl" value="${licenseUrlGXT}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyPiriti}" />
                    <property name="version" value="${versionPiriti}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNamePiriti}" />
                    <property name="licenseUrl" value="${licenseUrlPiriti}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyEhCache}" />
                    <property name="version" value="${versionEhCache}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameEhCache}" />
                    <property name="licenseUrl" value="${licenseUrlEhCache}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyCXF}" />
                    <property name="version" value="${versionCXF}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameCXF}" />
                    <property name="licenseUrl" value="${licenseUrlCXF}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyJAXB}" />
                    <property name="version" value="${versionJAXB}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameJAXB}" />
                    <property name="licenseUrl" value="${licenseUrlJAXB}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyXStream}" />
                    <property name="version" value="${versionXStream}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameXStream}" />
                    <property name="licenseUrl" value="${licenseUrlXStream}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keySpringSecurity}" />
                    <property name="version" value="${versionSpringSecurity}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${licenseNameSpringSecurity}" />
                    <property name="licenseUrl" value="${licenseUrlSpringSecurity}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyHibGenericDAO}" />
                    <property name="version" value="${licenseNameHibGenericDAO}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${versionHibGenericDAO}" />
                    <property name="licenseUrl" value="${licenseUrlHibGenericDAO}" />
                </bean>
                <bean class="org.geosdi.geoplatform.gui.global.CopyrightInfo">
                    <property name="key" value="${keyJasypt}" />
                    <property name="version" value="${licenseNameJasypt}" />
                    <property name="copyright" value="" />
                    <property name="licenseName" value="${versionJasypt}" />
                    <property name="licenseUrl" value="${licenseUrlJasypt}" />
                </bean>
            </list>
        </property>
    </bean>

</beans>